<div class="d-flex flex-column h-100 overflow-hidden p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <span> Online: {{liveUser?.length}} </span>
        </div>
        <form [formGroup]="chatGroup">
            <select class="form-select" aria-label="Default select example" formControlName="id">
                <option *ngFor="let data of liveUser" [value]="data">{{data}}</option>
            </select>
        </form>
    </div>
    <div class="flex-grow-1 border rounded-2 mb-3 bg-white overflow-auto p-3">
        <div class="d-flex align-items-center my-2" *ngFor="let data of chatsData" [ngClass]="data.name === userName ? 'justify-content-end' : 'justify-content-start'">
            <div class="chat rounded-3 border position-relative" [ngClass]="{ 'bg-chat' :data.name === userName}">
                <span class="position-absolute chat-name text-primary fw-bolder fs-7"> {{data.name}} </span>
                {{data.message}}   
                <span class="position-absolute chat-time text-muted bottom-0 fs-7"> {{data.time}} </span>
            </div>
        </div>
    </div>
    <form [formGroup]="chatGroup" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="button-addon2" formControlName="message">
            <button class="btn btn-primary" type="submit" id="button-addon2"><i class='bx bxs-send'></i></button>
        </div>
    </form>
</div>