/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    overflow: hidden;
}

.bg-chat{
    background-color: #d4f7b9;
}

.fs-7{
    font-size: 0.7rem;
}

.bg-theme{
    background-color: #e7e7e7;
}

.wrapper{
    max-width: 800px;
}

.chat{
    max-width: 300px;
    padding: 1.2rem 0.4rem 1.2rem 0.4rem;
    min-width: 80px;

    &-name{
        top: 5px;
    }

    &-time{
        right: 5px;
    }
}