/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    overflow: hidden;
}

.bg-chat{
    background-color: #dcf8c6;
}

.chat{
    padding: 1.5rem 0.8rem 0.8rem 0.8rem;
    max-width: 300px;
    min-width: 100px;
    &-user{
        top: 5px;
        // right: 15px;
    }
}

.fs-7{
    font-size: 0.8rem;
}

.bg-theme{
    background-color: #e7e7e7;
}